
# venv files
__pycache__/
.env
.cursorignore
venv/
.vscode/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# input/output folders
input/
output/




issues.txt
old_files/
